/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  height: 100%;
  background: #f3fbfb;
  color: #7b8c9a;
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2e4457;
}
p {
  font-weight: normal;
  line-height: 1.5;
}
/******************************************
/* LAYOUT
/*******************************************/
header {
  height: 60px;
}
nav {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 0.7%;
}
nav a {
  text-decoration: none;
  color: #435668;
  text-align: center;
}
nav > * {
  flex-basis: 5rem;
}
nav > ul {
  list-style: none;
  flex-basis: 35rem;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
nav > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin-top: 0.4%;
}
nav > a {
  margin-top: 0.6%;
  padding: 0.5rem 2rem;
  height: 10%;
  background: #435668;
  color: white;
  margin-right: 0.5%;
}

/* HERO SECTION STYLING */

.hero {
  margin-top: 3%;
  display: flex;
  gap: 5%;
}
.hero-text {
  padding: 0 8%;
  padding-top: 2%;
}
.hero-text h6 {
  font-size: 1rem;
  margin-bottom: 4%;
  color: #a0b0be;
}
.hero-text h1 {
  font-size: 3.2rem;
  font-weight: bolder;
  margin: 0;
  margin-bottom: 8%;
}
form {
  display: inline-block;
  margin-right: 0;
}
form input {
  border: none;
  padding: 0.6rem 1rem;
  padding-right: 8rem;
  background: #e1e9f0;
  margin: 0;
  margin-right: 0;
}
input::placeholder {
  color: #a0b0be;
}
.hero-text a {
  text-decoration: none;
  color: white;
  padding: 0.6rem 2.2rem;
  background: #435668;
  margin: 0;
  vertical-align: middle;
  margin-left: 0;
}
.hero-text p {
  margin-top: 5%;
}
footer {
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
